/* Slider */
:root {
  --color-blue: rgb(20, 30, 210);
  --light-blue: rgb(160, 210, 255);
  --light-gray: #ebebeb;
}

.mySlides {
  min-width: 100%;
  overflow: hidden;
}

.mySlides-img {
  margin-left: -15%;
  width: 130%;
  height: auto;
}

/* end slider */

.iam-iwant {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 16px 0;
  background: #fff;
  border-bottom: 1px solid #d4d4d4;
}



.iwant-select {
  width: 400px;
  margin: 0 20px;
}

.row-iwant {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.iwant-select-btn {
  font-size: 18px;
  text-align: left;
  padding: 0 15px;
  width: 100%;
  height: 48px;
  color: var(--color-blue);
  border: 1px solid #d4d4d4;
  position: relative;
}

.dropdown-iwant-select {
  position: absolute;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 100%;
  float: left;
  padding: 30px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  background-color: #e1e1e1;
}

.dropdown-iwant-select li {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.dropdown-iwant-select li a:hover {
  color: var(--color-blue);
}

.iwant-list li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 0 10px 34px;
  position: relative;
}

.iwant-list li:last-child {
  border: none;
}

.iwant-list li a {
  display: block;
  font-size: 16px;
  color: #252525;
  padding: 7px;
}

.iwant-btn a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 100px;
  text-align: center;
  height: 48px;
  line-height: 50px;
  color: #fafafa;
  border-radius: 2px;
  background: var(--color-blue);
  margin-right: 20px;
}

.iwant-btn a:hover {
  background: rgb(160, 210, 255);
}

/* body 3 */
.home-special-product {
  width: 100%;
  background: var(--light-gray);
  padding: 60px 0;
}

.home-cate-title {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.home-cate-title h2 {
  font-size: 36px;
  color: var(--color-blue);
  margin: 0 0 15px 0;
  font-weight: bold;
}

.home-sp-list {
  display: flex;
  margin: 0 -15px; /* Tạo khoảng cách giữa các item */
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.home-sp-list .item {
  flex: 0 0 auto;
  width: 360px;
  margin: 0 15px;
}

.home-sp-content {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
  color: var(--color-blue);
}

.home-sp-icon img {
  height: 82px;
  width: auto !important;
  display: inline-block !important;
  margin-bottom: 30px;
}

.home-sp-tit {
  display: block;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.btn-stroke-style1 {
  display: inline-block;
  padding: 0 30px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #252525;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  font-weight: bold;
}

.btn-stroke-style1:hover {
  text-decoration: none;
  background: var(--color-blue);
  border: 1px solid #141ed2;
  color: #fff;
}

.btn-flat-style1 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-blue);
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #3f5ca9;
  text-decoration: none;
}

.btn-flat-style1:hover {
  border: 1px solid #3f5ca9;
  color: rgb(160, 210, 255);
  padding: 0 15px;
  border-radius: 2px;
  background: #fafafa;
  text-decoration: none;
}

.home-sp-list .nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.nav-buttons {
  text-align: center;
  margin-top: 40px;
}

.nav-buttons button {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3f5ca9;
  border: 1px solid #3f5ca9;
  border-radius: 2px;
  margin: 0 2px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background: var(--light-blue);
  color: #fafafa;
}

.nav-buttons i {
  vertical-align: middle;
}

.item {
  width: 360px;
  margin-right: 30px;
}

.home-sp-text {
  display: block;
  width: auto;
  height: 104px;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}

/* body 4 */
.home-promotion {
  display: block;
  width: 100%;
  background: white;
  padding: 60px 0;
  overflow: hidden;
}

.home-pr-list {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}

.home-pr-content {
  display: block;
  width: 100%;
  background: var(--light-gray);
  height: 380px;
  margin: 0 20px;
}

.home-pr-img {
  height: 223px;
  width: 360px;
}

.home-pr-img img {
  width: 360px;
  height: 223px;
}

.home-pr-tit {
  display: inline-block;
  width: 100%;
  padding: 30px;
  background: var(--light-gray);
  border-color: #d4d4d4;
}

.home-pr-content p {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: #545454;
  font-weight: bold;
  margin-bottom: 15px;
}

.home-pr-content a {
  margin: 20px 0 0 30px;
}

@media screen and (max-width: 1200px) {
  .home-sp-list .item {
    width: 220px;
    height: 210px;
  }

  .home-sp-icon img {
    width: 48px !important;
    height: 48px !important;
    margin: 0;
  }

  .home-sp-tit {
    font-size: 14px;
    margin: 0;
  }

  .home-sp-text {
    height: 55px;
    font-size: 14px;
    overflow: hidden;
  }

  .item {
    margin: 0;
  }

  .home-pr-list {
    margin-left: 20px;
  }

  .home-pr-content {
    width: 220px;
    height: 240px;
    margin: 0;
  }
  .home-pr-img,
  .home-pr-img img {
    width: 220px;
    height: 125px;
  }

  .home-pr-tit {
    height: 55px !important;
    overflow: hidden;
    padding-top: 10px;
  }

  .btn-flat-style1 {
    margin-top: 0 !important;
  }
}
