/* navigation */

#nav {
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
}

.navbar-menu {
  height: 60px;
  background-color: rgb(255, 255, 255);
}

/* logo */
.navbar-logoMB img {
  width: 90px;
  margin: 10px 0;
}

.navbar-menu-left {
  display: flex;
}

.navbar-menu-links {
  display: flex;
}

.navbar-menu-link .navbar-links {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  line-height: 60px;
  padding: 0 15px;
}


.navbar-menu-right {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

.search {
  position: relative;
  height: 48px;
}

.search input {
  width: 230px;
  height: 36px;
  padding: 1px 2px 1px 35px;
  margin: 12px 30px 0 0;
  border: 1px solid silver;
}

.search-icon {
  position: absolute;
  left: 5px;
  top: 37%;
  width: 24px;
  height: 24px;
}


.navbar-btn button {
  font-weight: 700;
  text-transform: uppercase;
  width: 180px;
  height: 36px;
  margin-top: 12px;
  background-color: rgb(160, 210, 255);
  color: white;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .box {
    max-width: 900px;
  }
  .navbar-menu-right {
    display: none;
  }
}


/* menu-box */

.menu-box {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #ebebeb;
  max-width: 1188px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.grid-container {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(4, 1fr); /* 4 cot */
  grid-template-rows: repeat(3, 1fr); /* 3 hang */
}

.san-pham {
  position: relative; /* Để menu box hiện khi hover */
}

.navbar-menu-link a:hover {
  color: blue;
}

.list {
  position: relative;
}

.icon {
  position: absolute;
  color: blue;
}

.list-main {
  font-size: 16px;
  margin-left: 30px;
  color: #141ed2;
  left: 10px;
}


.list li {
  margin: 20px 30px;
}

.list li a {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  color: black;
}

.list li a:hover {
  color: blue;
}

.list .list-main a {
  color: blue; /* Màu chữ cho các liên kết chính */
}

.item-grid-8 {
  grid-row: 3/4; /* Định vị item trong grid */
}

.navbar-menu-link:hover .menu-box {
  display: block; /* Hiện menu box khi hover vào li */
}

.menu-btn {
  position: absolute;
  background-color: white;
  top: 100%;
  width: 180px;
  display: none;
}

.grid-btn div a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.grid-btn div span i {
  font-size: 16px;
  padding-right: 5px;
}


.grid-btn div {
  padding: 15px 0;
  padding-left: 20px;
}

.navbar-btn:hover .menu-btn {
  display: block;
}
