* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Average", serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 112px;
  align-items: center;
  justify-content: center;
}

.background {
  width: 60%;
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.contact {
  display: flex;
  padding: 15px 15px;
  align-items: center;
}

.hotline {
  margin: 0 7px;
  color: #2100bd;
  font-size: 16px;
  font-weight: 600;
}

.icon-call img {
  width: 24px;
  height: 24px;
}

.language {
  width: 61px;
  height: 28px;
  display: flex;
  padding: 0 8px;
  border: 0.571px solid rgb(227, 227, 227);
  border-radius: 14px;
  align-items: center;
}

.language span {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  margin-right: 8px;
}

.language img {
  width: 16px;
  height: 16px;
}

.tel {
  margin-right: 14px;
  font-size: 16px;
  font-weight: 600;
}

.main-content {
  position: absolute;
  top: 25%;
  left: 70%;
}

.logo {
  width: 153px;
  height: 64px;
}

.main-content div:nth-of-type(1) {
  font-size: 24px;
  font-weight: 600;
}

.main-content div:nth-of-type(2) {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.main-content div:nth-of-type(3),
.main-content div:nth-of-type(5) {
  font-size: 16px;
  font-weight: 700;
}

.main-content div:nth-of-type(4),
.main-content div:nth-of-type(6) {
  width: 432px;
  height: 61px;
  margin-top: 15px;
}

input {
  width: 402px;
  height: 51px;
  padding: 14px;
  border: 1px solid rgb(20, 30, 210);
  border-radius: 5px;
}

.btn {
  margin-top: 6px;
}

.btn button {
  width: 402px;
  height: 41px;
  padding: 7px;
  background-color: #141ed2;
  border-radius: 8px;
}

.btn button span {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
