/* navigation */

#nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-menu {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  top: 40px;
}

/* logo */
.navbar-logoMB img {
  width: 90px;
  margin: 10px 0;
}

.navbar-menu-left {
  display: flex;
  align-content: center;
}

.navbar-menu-links {
  display: flex;
}

.navbar-menu-link a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  height: 60px;
  color: #252525;
  line-height: 60px;
  padding: 0 15px;
}

.caret {
  padding-left: 5px;
}

.navbar-menu-right {
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 0;
  width: 585px;
  height: 48px;
  padding: 0 15px;
}

.search {
  position: relative;
  width: 260px;
  height: 48px;
}

.search input {
  width: 230px;
  height: 36px;
  padding: 1px 2px 1px 35px;
  margin: 12px 30px 0 0;
  border: 1px solid silver;
}

.search-icon {
  position: absolute;
  left: 5px;
  top: 37%;

  width: 24px;
  height: 24px;
}

.navbar-btn {
  width: 180px;
  height: 48px;
}

.navbar-btn {
  display: flex;
}

.navbar-btn button {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  width: 180px;
  height: 36px;
  padding: 0 15px;
  margin-top: 12px;
  background-color: rgb(160, 210, 255);
  color: white;
  border: none;
  cursor: pointer;
}

.navbar-btn button i {
  margin-left: 5px;
}
